* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.main-content > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Resume */

.resume {
  --gen-color: #becccc97;
  --resume-color: #becccc4e;

  height: 800px;
  width: 600px;
  border: 1px solid black;

  box-shadow: 4px 4px 2px 1px rgba(196, 196, 196, 0.217);
}

.resume > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-title:not(.school) {
  margin-top: 10px;
}

/* Gen */

.general {
  min-height: 100px;
  align-items: center;
  justify-content: center;
  background-color: var(--gen-color);
}

/* Card */

.card,
.skills-container {
  align-self: center;
  width: 90%;
}

.section-title {
  text-align: center;
  background-color: var(--resume-color);
  font-weight: 500;
  padding: 2px 0px;
}

.sub-info {
  display: flex;
}

.section-sub-info {
  display: flex;
  gap: 10px;
}

.section-sub-info *:last-child {
  margin-left: auto;
}

/* School */

.title {
  font-weight: 650;
}

.section-sub-info:not(.main, .gen) {
  font-size: 16px;
  font-style: italic;
}

/* Work */

.bullet-item::before {
  content: "- ";
}

/* Skill */

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-item {
  background-color: var(--resume-color);
  border-radius: 20px;
  padding: 4px;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 20px;
}

.options {
  position: relative;
  z-index: -1;
  top: -5px;
  width: 80%;
}
.options button {
  position: absolute;
  width: 40px;
  height: 40px;
}
.settings {
  left: 0px;
}
.main {
  left: 40px;
}

.sidebar-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid gainsboro;

  min-width: 200px;
  background-color: rgb(255, 255, 255);
}

label {
  padding: 5px 0px;
}

input {
  height: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid gainsboro;
  padding: 2px;
}

.sidebar-title {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sidebar-title button {
  margin-left: auto;
}
