* {
  margin: 0px;
  padding: 0px;
  /* border: 0.5px solid red; */
}

body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1.5fr 4fr;
}

.main-content > div {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Resume */

.resume {
  --gen-color: #becccc97;
  --resume-color: #becccc4e;

  height: 800px;
  width: 600px;
  border: 1px solid black;

  box-shadow: 4px 4px 2px 1px rgba(196, 196, 196, 0.217);
}

.resume > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-title:not(.school) {
  margin-top: 10px;
}

/* Gen */

.general {
  min-height: 100px;
  align-items: center;
  justify-content: center;
  background-color: var(--gen-color);
}

/* Card */

.card,
.skills-container {
  align-self: center;
  width: 90%;
}

.section-title {
  text-align: center;
  background-color: var(--resume-color);
  font-weight: 500;
}

.sub-info {
  display: flex;
}

.section-sub-info {
  display: flex;
  gap: 10px;
}

.section-sub-info *:last-child {
  margin-left: auto;
}

/* School */

.title {
  font-weight: 650;
}

.section-sub-info:not(.main, .gen) {
  font-size: 16px;
  font-style: italic;
}

/* Work */

.bullet-item::before {
  content: "- ";
}

/* Skill */

.skills-container {
  display: flex;
  flex-direction: row;
}
