* {
  margin: 0px;
  padding: 0px;
}

:root {
  --title-color: #435bd6;
  --gen-color: #6366f1;
  --resume-color: #e0e7ff;
  --darker-color: #3730a3;
}

html,
#root {
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.main-content > div {
  display: flex;
  height: 100%;
}

/* Resume */

.resume-section {
  justify-content: center;
}

.resume {
  height: 800px;
  width: 600px;
  border: 1px solid black;

  box-shadow: 4px 4px 2px 1px rgba(196, 196, 196, 0.217);
}

.resume > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-title:not(.school) {
  margin-top: 10px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

/* Gen */

.name {
  min-height: 43px;
}

.general {
  min-height: 100px;
  align-items: center;
  justify-content: center;
  background-color: var(--gen-color);
  margin-bottom: 25px;
  color: white;
}

/* Card */

.card,
.skills-container {
  align-self: center;
  width: 85%;
}

.section-title {
  color: var(--title-color);
  font-size: 20px;
  align-self: center;
  width: 90%;
  border-bottom: 3px solid var(--resume-color);
  font-weight: 500;
  padding: 2px 0px;
}

.sub-info {
  display: flex;
}

.section-sub-info {
  display: flex;
  gap: 10px;
}

.section-sub-info *:last-child {
  margin-left: auto;
}

/* School */

.title {
  font-weight: 650;
}

.section-sub-info:not(.main, .gen) {
  font-size: 16px;
  font-style: italic;
}

.button-wrapper {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.cancel,
.submit {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
}

.submit {
  background-color: var(--title-color);
  color: white;
}

.cancel {
  margin-left: auto;
  color: var(--title-color);
}

/* Work */

.description {
  width: 90%;
  margin: 0px 20px;
  white-space: pre-wrap;
}

/* Skill */

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-item {
  background-color: var(--resume-color);
  border-radius: 20px;
  padding: 4px;
  color: var(--darker-color);
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 20px;
  margin-top: 50px;
  align-items: center;
}

.options {
  position: relative;
  z-index: -1;
  top: -5px;
  width: 80%;
}
.options button {
  position: absolute;
  width: 40px;
  height: 40px;
}
.settings {
  left: 0px;
}
.main {
  left: 40px;
}

.sidebar-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid gainsboro;

  min-width: 200px;
  background-color: rgb(255, 255, 255);
}

* {
  transition: all 0.15s ease-out;
}

label {
  padding: 5px 0px;
}

input {
  height: 20px;
}
textarea {
  height: 200px;
  resize: none;
}

input,
textarea {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid gainsboro;
  padding: 2px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.sidebar-title button {
  margin-left: auto;
}
